/target
/classes
/checkouts
profiles.clj
pom.xml.asc
*.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/

# pdf files
*.pdf

# Do not ignore anything in examples
!resources/examples/**/*

# vscode
.vscode/

# calva
.calva/

# settings.xml
settings.xml
